*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    padding: 50px;
}
header{
    width: 400px;
    height: 100px;
    background-color: green;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    border-radius: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    width: 400px;
    height: 230px;
    background-color: white;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 5px 20px -1px rgba(0,0,0,0.3);
}
section button{
    width: 80px;
    padding: 10px;
    background-color: rgb(243, 117, 138);
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}
section button:nth-child(1){
    margin-left: 90px;
    margin-right: 10px;
}
section button:hover:nth-child(1){
    background-color: blue;
    color: white;
}
section button:hover:nth-child(2){
    background-color: green;
    color: white;
}
#last-button{
    margin: 0px 0px 5px 140px;
}
section p{
    width: 100%;
    padding: 10px;
    background-color: rgb(67, 211, 91);
    border-radius: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}